.card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  gap : 1rem;
   

}

.card:hover {
  transform: translateY(-5px);
}

.year {
  font-size: 0.9rem;
  color: #777;
}
